extends ../layout

block content
    h1 регестрация
    form(action='/add' method='POST')
        .form-group
            label(for='exampleInputEmail1') мыло
            input#exampleInputEmail1.form-control(type='text' name='email' placeholder='Enter email')
       
        .form-group
            label(for='exampleInputPassword2') пароль
            input#exampleInputPassword2.form-control(type='text' name='password' placeholder='Password') 
        .form-group
            label(for='exampleInputPassword2') повтори пароль
            input#exampleInputPassword2.form-control(type='text' name='confirm' placeholder='Password')       
        
        button.btn.btn-primary(type='submit') Submit